# Day 8

## Part 1

How many trees are visible from outside the grid?

In [1]:
# Libraries

import numpy as np
import pandas as pd

# Read input file
all_lines = []

with open('input.txt') as file:
    for line in file:
        all_lines.append([*line.rstrip()])

# Create dataframe
map_df = pd.DataFrame(all_lines).astype(int)

In [2]:
# Analyse map

def is_tree_visible_from_outside(*, map_data: pd.DataFrame, x: int, y: int) -> bool:
    # Map
    y_size, x_size = map_df.shape
    size_at_xy = map_df.iloc[x, y]
    
    # Edge of the map
    if x == 0 or x == x_size-1 or y == 0 or y == y_size-1:
        return True
    
    # Visible from left
    visible_from_left = False
    if max(map_df.iloc[x, :y]) < size_at_xy:
        visible_from_left = True
        
    # Visible from right
    visible_from_right = False
    if max(map_df.iloc[x, y+1:]) < size_at_xy:
        visible_from_right = True
        
    # Visible from top
    visible_from_top = False
    if max(map_df.iloc[:x, y]) < size_at_xy:
        visible_from_top = True
        
    # Visible from bottom
    visible_from_bottom = False
    if max(map_df.iloc[x+1:, y]) < size_at_xy:
        visible_from_bottom = True
    
    return any([visible_from_left, visible_from_right, visible_from_top, visible_from_bottom])
    

# Process map
processed_map = []
for x in range(map_df.shape[1]):
    single_col = []
    for y in range(map_df.shape[0]):
        single_col.append(is_tree_visible_from_outside(map_data=map_df, x=x, y=y))
    
    processed_map.append(single_col)

In [3]:
# Create processed map
processed_map_df = pd.DataFrame(processed_map)
processed_map_df

,0,1,2,3,4,5,6,7,8,9,...,89,90,91,92,93,94,95,96,97,98
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,False,False,False,False,True,False,False,False,False,...,True,True,True,True,True,False,False,False,True,True
2,True,False,False,False,False,False,True,True,False,False,...,False,False,False,True,True,False,True,False,True,True
3,True,False,True,True,False,False,True,True,True,False,...,True,True,False,False,False,True,True,False,False,True
4,True,True,False,True,False,False,False,False,True,True,...,False,True,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,True,True,False,True,False,False,False,False,False,False,...,False,False,True,False,False,False,True,False,False,True
95,True,False,True,False,False,False,True,False,False,True,...,False,False,True,False,False,True,False,True,False,True
96,True,True,True,False,False,True,False,True,False,False,...,True,True,False,False,False,False,True,True,True,True
97,True,True,False,True,False,True,False,False,True,False,...,True,False,False,False,True,False,False,False,True,True
98,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [4]:
# Print result
processed_map_df.sum().sum()

1647

---

## Part 2

A tree's scenic score is found by multiplying together its viewing distance in each of the four directions.
Consider each tree on your map. What is the highest scenic score possible for any tree?

In [5]:
# Scenic score
def scenic_score_one_direction(*, trees: pd.Series, tree_size: int) -> int:
    if len(trees.loc[trees >= tree_size]) == 0:
        scenic_score = len(trees)
    else:
        scenic_score = trees.loc[trees >= tree_size].index[0] + 1
    
    return scenic_score


def get_scenic_score(*, map_data: pd.DataFrame, x: int, y: int) -> int:
    # Map
    y_size, x_size = map_df.shape
    size_at_xy = map_df.iloc[x, y]
    
    # Edge of the map
    if x == 0 or x == x_size-1 or y == 0 or y == y_size-1:
        return 0
    
    # Left
    trees_to_the_left = map_df.iloc[x, :y][::-1].reset_index(drop=True)
    scenic_score_left = scenic_score_one_direction(trees=trees_to_the_left, tree_size=size_at_xy)
        
    # Right
    trees_to_the_right = map_df.iloc[x, y+1:].reset_index(drop=True)
    scenic_score_right = scenic_score_one_direction(trees=trees_to_the_right, tree_size=size_at_xy)
        
    # Top
    trees_to_the_top = map_df.iloc[:x, y][::-1].reset_index(drop=True)
    scenic_score_top = scenic_score_one_direction(trees=trees_to_the_top, tree_size=size_at_xy)
        
    # Bottom
    trees_to_the_bottom = map_df.iloc[x+1:, y].reset_index(drop=True)
    scenic_score_bottom = scenic_score_one_direction(
        trees=trees_to_the_bottom, tree_size=size_at_xy)
    
    return scenic_score_left * scenic_score_right * scenic_score_top * scenic_score_bottom

# Process map
processed_map = []
for x in range(map_df.shape[1]):
    single_col = []
    for y in range(map_df.shape[0]):
        single_col.append(get_scenic_score(map_data=map_df, x=x, y=y))
    
    processed_map.append(single_col)

In [6]:
# Create processed map
processed_map_df = pd.DataFrame(processed_map)
processed_map_df

,0,1,2,3,4,5,6,7,8,9,...,89,90,91,92,93,94,95,96,97,98
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,2,4,1,6,75,1,2,12,3,...,2,24,1,10,3,1,1,12,40,0
2,0,1,1,1,1,1,12,56,2,1,...,1,1,3,160,40,1,108,1,14,0
3,0,2,12,81,1,1,90,18,24,1,...,105,24,3,2,1,432,3,2,1,0
4,0,5,1,12,3,6,1,5,56,168,...,2,24,1,6,4,1,30,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,0,6,2,180,1,8,1,16,1,28,...,1,2,192,6,12,1,144,1,4,0
95,0,1,192,1,48,1,48,1,6,1728,...,10,24,9,4,1,36,1,288,3,0
96,0,1,12,1,2,120,1,12,16,1,...,16,8,8,1,2,1,16,12,4,0
97,0,10,1,30,1,4,1,2,16,1,...,5,21,1,4,90,3,1,1,4,0
98,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
# Result
processed_map_df.max().max()

392080